/* Additional styles for autocomplete */
.autocomplete {
    position: relative;
    display: inline-block;
}

.search-box-loc{
  position: relative;
  display: flex;
  width: 20vw;
  padding: 5px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: none;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  color: rgb(0, 0, 0);
  background: none;
}
.search-box {
  position: relative;
  display: flex;
  width: 20vw;
  padding: 5px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: none;
  border-bottom-left-radius: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: none;
}

.search-input {
  border: 0px solid #111d5e;
  border-radius: 5px;
  outline: none;
  font-size: 1.8vmin;
  color: rgb(0, 0, 0);
  background: none;
  width: 20vw;
}

#autocompleteResults {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #000000;
    border-top: none;
    border-radius: 0 0 5px 5px;
    max-height: 150px;
    overflow-y: auto;
    background-color: rgb(255, 255, 0);
    display: none;
    z-index: 1000; /* Set a high z-index value */
}
#autocompleteResultsPre{
  position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #000000;
    border-top: none;
    border-radius: 0 0 5px 5px;
    max-height: 150px;
    overflow-y: auto;
    background-color: rgb(255, 255, 0);
    display: none;
    z-index: 1000; /* Set a high z-index value */
}
#autocompleteResults ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#autocompleteResultsPre ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#autocompleteResults li {
    padding: 8px;
    cursor: pointer;
    list-style: none;
    transition: 1.3s;
    margin-left: 1.5vw;
}
#autocompleteResultsPre li {
  padding: 8px;
  cursor: pointer;
  list-style: none;
  transition: 1.3s;
  margin-left: 1.5vw;
}
#autocompleteResults li:hover {
    background-color: rgb(255, 255, 255);
}
#autocompleteResultsPre li:hover {
  background-color: rgb(255, 255, 255);
}
/* Style the scrollbar track */
::-webkit-scrollbar {
  width: 8px;
  background-color: #f5f5f5;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  height: 30px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
}

/* Style the scrollbar buttons */
::-webkit-scrollbar-button {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 5px;
}



.profile-button{
  margin-left: 50px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #ffffff00;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: yellow;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ffffff;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: yellow;}
