@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&family=Roboto+Slab:wght@500&display=swap');


*{
    margin: 0%;
    padding: 0%;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Roboto Mono', monospace; */
    font-family: 'Roboto Slab', serif;
}

.navbar{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 0);
    /* background-image: repeating-linear-gradient(rgba(255, 0, 0, 0.500),
                    rgba(255, 166, 0, 0.400),
                    rgba(255, 255, 0, 0.300),
                    rgba(0, 128, 0, 0.200),
                    rgba(0, 0, 255, 0.200),
                    rgba(76, 0, 130, 0.200),
                    rgba(238, 130, 238, 0.200)); */

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.237);
}
.navbar .logo{
    font-size: 30px;
    font-weight: bold;
    margin-left: 12vw;
    display: flex;
}
.navbar .buttons{
    margin-right: 12vw;
    display: flex;

}
.navbar .buttons #Signin{
    margin-left: 2vw;
}
.search {
    display: flex;
}
.search #location{
    height: 6vh;
    width: 20vw;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.400);
    border-radius: 5px;
    margin-right: 1vw;
}
.search #p-search{
    height: 6vh;
    width: 25vw;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.400);
    border-radius: 5px;
}

.categories{
    display: flex;
    margin-top: 2vh;
    height: 4vh;
    align-items: center;
    justify-content: space-around;
    margin-left: 15vw;
    margin-right: 15vw;
    position: sticky;
    top: 0;
}
.categories a{
    text-decoration: none;
}

.banner{
    display: flex;
    justify-content: space-around;
}

.recommendations{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 15vw;
    margin-right: 15vw;
}
.recommendations .ele{
    margin-bottom: 2vh;
}
.recommendations .ele:hover{
    
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.331);
}

.footer{
    background-color: rgb(255, 255, 0);
    height: 50vh;
}
.footer .content{
    padding-top: 10vh;
    margin-left: 15vw;
    margin-right: 15vw;
}
@media (max-width: 768px) {
    .logo {
        font-size: 1rem;
    }

    .search input {
        width: 100%;
    }

    .categories {
        flex-direction: column;
        align-items: flex-start;
    }

    .categories button,
    .categories a {
        margin-bottom: 5px;
    }

    .recommendations {
        justify-content: center;
    }
    .card {
        width: 100%;
    }
}