
*{
        
    margin: 0px; 
    padding: 0px; 
}
body{
    background-color: rgb(255, 255, 255);
}
.input{
    border-radius: 10px;
    border-color: black;
}

.center
{
margin-top: 15px;
margin:auto; 
font-weight: bolder;
padding-top: 10px;
border-radius: 20px;
padding: 5px 5px;
position:absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background: white;
border-radius: 10px;
width: 350px;
height: 400px;

}
.center h1{
text-align: center;
padding:10px  00px 0px 0;
border-bottom: 1px solid white;

}
.center form
{
padding: 15px 60px;  

}

form .txt_field
{
    position: relative;
    padding: 8px 0px 0 0;
    border-color: black;
    box-sizing: border-box;
    box-shadow: black;
    margin-left: 0px;
    
    
  
}
.txt_field input{
padding:0px 10px 0px;
height: 40px;
font-size: 15px;
width: 100%;
margin-left: 0px;
outline: 2em;
background-color: rgb(238, 236, 234);


} 
.pass{
margin: -5px 0 20px 5px;
color:rgb(140, 134, 134);
cursor: pointer;

} 
.pass:hover{
 text-decoration: underline;

} 

input[type="submit"]
{
width: 100px;
height: 40px;
border-radius: 15px solid;
background: black;
text-decoration: white;
background-color: black;
font-size: 15px;
border-radius: 20px;
color: #e9f4fb;
font-weight: 700;
cursor: pointer;
outline: none;
} 

input[type="submit"]:hover
{
    background-color: rgb(81, 76, 76);
    transition: .5s;
}
.signup_link {
padding: 0px 5px 5px;
cursor: pointer;
color: black;
margin: 0px 0;
text-align: center;
font-size: 16px;
margin-bottom: 10px;
}
