@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto+Mono&family=Roboto+Slab:wght@500&display=swap');

* {
  margin: 0%;
  padding: 0%;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Roboto Slab', serif; */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.237);
  height: 8vh;
  width: auto;
}

#navbar .logo {
  display: flex;
}

.logo a {
  text-decoration: none;
  color: black;
}

#navbar .search {
  display: flex;
}

#navbar .buttons {
  display: flex;
}

.search-box-loc {
  position: relative;
  display: flex;
  width: 15vw;
  padding: 5px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: none;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  color: rgb(0, 0, 0);
  background: none;
}

.search-box {
  position: relative;
  display: flex;
  width: 20vw;
  padding: 5px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: none;
  border-bottom-left-radius: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: none;
}

.search-input {
  border: 0px solid #111d5e;
  border-radius: 5px;
  outline: none;
  font-size: 1.8vmin;
  color: rgb(0, 0, 0);
  background: none;
  width: 20vw;
}

.profile-header {
  margin-top: 10vh;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.071);
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
  border-radius: 10px;
}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 30vw;
}

.profile-img img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.profile-overview {
  /* background-color: azure; */
  padding-left: 10vw;
}

.profile-menu {
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0%;
  background-color: white;
}

.album-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-album {
  margin-left: 20vw;
  margin-right: 20vw;
  height: 100vh;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.albums a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  padding: 5px 17px;
  font-weight: bold;
  border-radius: 7px;
  transition-delay: 0.3s;
  opacity: 0.7;
}

.packages a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 5px 17px;
  border-radius: 7px;
  transition-delay: 0.3s;
  opacity: 0.7;
}

.equipments a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 5px 17px;
  border-radius: 7px;
  transition-delay: 0.3;
  opacity: 0.7;
}

.albums a:hover {
  opacity: 0.9;
  /* background-color:rgb(215, 215, 83); */
}

.packages a:hover {
  opacity: 0.9;
  /* background-color:rgb(215, 215, 83); */
}

.equipments a:hover {
  opacity: 0.9;
  /* background-color:rgb(215, 215, 83); */
}

#fav {
  background: none;
  border: none;
  border-style: none;
  font-size: 2em;
}

.icon {
  width: 1.5vw;
}

/* packages */
.container {
  margin-top: 5vh;
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 100%;
}

.package-content {
  height: 30vh;
  width: 50vw;
  background-color: rgb(255, 255, 255);
  margin-top: 5vh;
}

.packege-foot {
  display: flex;
  justify-content: space-between;
}

#addReview{
  max-width: 100%;
}

#description{
  width: 50vw;
}

@media(max-width:600px) {
  .logo a {
    display: none;
  }

  .profile-header {
    margin-top: 10vh;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.071);
    display: flex;
    align-items: center;
    margin-bottom: 5vh;
    border-radius: 10px;
    flex-direction: column;
    margin: 0%;
  }

  .search-input {
    /* display: none; */
    font-display: unset;
  }

  hr {
    top: 0%;
    position: sticky;
  }

  .icon {
    width: 5vw;
  }

  .albums a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .packages a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .profile-album {
    /* margin-left: 20vw;
    margin-right: 20vw; */
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
  }

  #navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.237);
    height: 8vh;
    width: auto;
  }
}