@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto+Mono&family=Roboto+Slab:wght@500&display=swap');

* {
  margin: 0%;
  padding: 0%;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Roboto Slab', serif; */
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.237);
  height: 8vh;
  width: auto;
}

#navbar .logo {
  display: flex;
}

.logo a {
  text-decoration: none;
  color: black;
}

#navbar .search {
  display: flex;
}

#navbar .buttons {
  display: flex;
}

.search-box-loc{
  position: relative;
  display: flex;
  width: 15vw;
  padding: 5px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: none;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  color: rgb(0, 0, 0);
  background: none;
}
.search-box {
  position: relative;
  display: flex;
  width: 20vw;
  padding: 5px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: none;
  border-bottom-left-radius: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: none;
}

.search-input {
  border: 0px solid #111d5e;
  border-radius: 5px;
  outline: none;
  font-size: 1.8vmin;
  color: rgb(0, 0, 0);
  background: none;
  width: 20vw;
}

.profile-header {
  margin-top: 10vh;
  /* background-color: black; */
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;

}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 30vw;
}

.profile-img img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.profile-overview {
  /* background-color: azure; */
  padding-left: 10vw;
}

.profile-menu {
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0%;
  background-color: white;
}

.album-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10vh;
}

.profile-album {
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  justify-content: center;
  height: 700px;
  width: 50vw;
  align-items: flex-start;
}

.albums a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.packages a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.equipments a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

#fav-photo{
  background: none;
  border: none;
  border-style: none;
}

.icon{
  width: 1.5vw;
}

/* packages */
.package-container{
  margin-top: 5vh;
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.package-content{
  height: 30vh;
  width: 50vw;
  background-color: rgb(255, 255, 255);
  margin-top: 5vh;
}
.packege-foot{
  display: flex;
  justify-content: space-between;
}





/* add album */
.preview-image {
  width: 350px;
  height: 200px;
  object-fit: cover;
  margin: 5px;
}
#previewContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#previewEquipContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
/* add package */
#package-type{
  display: flex;
  justify-content: space-between;
}
#addPackage{
  margin: 0%;
  padding: 0%;
}
#rates{
  display: flex;
  justify-content: space-between;
}