@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto+Mono&family=Roboto+Slab:wght@500&display=swap');

* {
  margin: 0%;
  padding: 0%;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Roboto Slab', serif; */
}

body {
  background-color: yellow;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(255, 255, 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.237);
  height: 8vh;
  width: auto;
}

#navbar .logo {
  display: flex;
}

.logo a {
  text-decoration: none;
  color: black;
}

#navbar .search {
  display: flex;
}

#navbar .buttons {
  display: flex;
}

.search-box-loc {
  position: relative;
  display: flex;
  width: 15vw;
  padding: 5px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: none;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  outline: none;
  color: rgb(0, 0, 0);
  background: none;
}

.search-box {
  position: relative;
  display: flex;
  width: 20vw;
  padding: 5px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: none;
  border-bottom-left-radius: none;
  outline: none;
  color: rgb(0, 0, 0);
  background: none;
}

.search-input {
  border: 0px solid #111d5e;
  border-radius: 5px;
  outline: none;
  font-size: 1.8vmin;
  color: rgb(0, 0, 0);
  background: none;
  width: 20vw;
}

.profile-header {
  margin-top: 10vh;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.071);
  margin-left: 15vw;
  margin-right: 15vw;
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
  border-radius: 10px;
  padding: 5px;
}

.profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  width: 30vw;
}

.profile-img img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.profile-overview {
  /* background-color: azure; */
  padding-left: 10vw;
}

.profile-menu {
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  justify-content: space-evenly;
  position: sticky;
  top: 0%;
  background-color: white;
}

.prof-ele{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

/* .profile-album {
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  justify-content: center;
  height: 700px;
  width: 50vw;
  align-items: flex-start;
} */
#hr-line{
  margin-left: 20vw; 
  margin-right: 20vw; 
  top: 0%; 
  position: sticky; 
  margin-bottom: 0px; 
  height: 2px; 
  background-color: black;
}
.albums a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  padding: 5px 17px;
  font-weight: bold;
  border-radius:0px 0px 7px 7px;
  transition-delay: 0.3s;
}

.packages a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 5px 17px;
  border-radius:0px 0px 7px 7px;
  transition-delay: 0.3s;
}

.equipments a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 5px 17px;
  border-radius:0px 0px 7px 7px;
  transition-delay: 0.3s;
}

.reviews a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 5px 17px;
  border-radius:0px 0px 7px 7px;
  transition-delay: 0.3s;
}

#fav-photo {
  background: none;
  border: none;
  border-style: none;
}

.icon {
  width: 1.5vw;
}

/* packages */
.package-container {
  margin-top: 5vh;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.package-content {
  height: auto;
  width: 55vw;
  background-color: rgb(255, 255, 255);
  margin-top: 5vh;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.189);
  border-radius: 10px;
}

.packege-foot {
  display: flex;
  justify-content: space-between;
  background-color: #e3f7059a;
  padding: 5px;
  border-radius: 5px;
}





/* add album */
.preview-image {
  width: 350px;
  height: 200px;
  object-fit: cover;
  margin: 5px;
}

#previewContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#previewEquipContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

/* add package */
#package-type {
  display: flex;
  justify-content: space-between;
}

#addPackage {
  margin: 0%;
  padding: 0%;
}

#rates {
  display: flex;
  justify-content: space-between;
}

/* Album */
.album-container {
  margin-left: 20vw;
  margin-right: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10vh;
  flex-wrap: wrap;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 400px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.333);
  border-radius: 2%;
}

div.gallery:hover {
  border: 2px solid #e3f705;
}

div.gallery img {
  width: 100%;
  height: auto;
  border-radius: 2% 2% 0% 0%;
}

div.desc {
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}


/* CSS for the modal */
.img-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 150px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  width: auto;
  max-width: 700px;
  height: auto;
  margin: auto;
  display: block;
}
.modal-content.portrait img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.close {
  color: #fff;
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.loding-content{
  width: 500px;
  height: 500px;
  margin-left: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adjust the size of the GIF animation to fit the modal */
.loding-content iframe {
 width: 50vw;
}

.show-modal {
  display: block;
}

/* search bar */

/* .suggestions-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.suggestions-list li {
  cursor: pointer;
} */
